<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo/logoFW60x60.jpg">
    <title>
        <%=tittle%>
    </title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/stylesheets/animate.css" rel="stylesheet">
    <!--  -->
    <link href="/stylesheets/plugins/toastr/toastr.min.css" rel="stylesheet">
    <!--  -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/styleMyEdited.css" rel="stylesheet">
    <!--  -->
    <link href="/stylesheets/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
    <link href="/stylesheets/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <style>
        tr th {text-align: center;}
    </style>
</head>

<body>
  <div id="wrapper">
    <%- include('../layout_index/index_sidebar_collapse.ejs'); -%>
      <div id="page-wrapper" class="gray-bg">
        <%- include('../layout_index/index_header.ejs'); -%>
          <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
              <div class="ibox float-e-margins">
                <div class="ibox-title">
                  <h1>Danh sách hồ sơ đợi duyệt</h1>
                </div>
                <div class="tab-pane active">
                  <div class="ibox-content profile-content col-md-12">
                    <!-- <form class="form-horizontal" id="fCVPost" name="fCVPost" action="/cv/post"> -->
                        <%if(!myCV.success){%>
                            <h2 class="text-center"><%=myCV.message%></h2>
                        <%}else{%>
                        <table class="table table-striped table-hover text-center">
                            <tbody>
                                <tr>
                                    <th>#</th>
                                    <th></th>
                                    <th>Danh mục ngành nghề</th>
                                    <th>Năm kinh nghiệm</th>
                                    <th>Trình độ chuyên môn</th>
                                    <th>Thông tin chung</th>
                                    <th>Ngày nạp hồ sơ</th>
                                    <th style="width:70px"></th>
                                </tr>
                                <%let i=0;
                                myCV.result.forEach(function(cv){
                                    i++%>
                                    <tr>
                                        <td><b><%=i%></b></td>
                                        <td class="client-avatar"><img alt="image" src="<%=cv.ImageStore%>"> </td>
                                        <td> <%=cv.NameJobCategory%></td>
                                        <td class="text-center"> <%=cv.Exprience%></td>
                                        <td> <%=cv.Qualifications%></td>
                                        <td> <%=cv.GeneralInformation%></td>
                                        <td> <%=cv.DateCreateCV%></td>
                                        <td >
                                            <div style="display:inline">
                                                <abbr title="Chỉnh sửa hồ sơ này">
                                                    <button type="button" class="btnEditCV btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal" categoryid="<%=cv.CategoryID%>">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </abbr>
                                                <abbr title="Xóa hồ sơ này">
                                                    <button type="button" class="btnDeleteCVByWorker btn btn-danger btn-xs" categoryid="<%=cv.CategoryID%>">
                                                        <i class="fa fa-trash-o"></i>
                                                    </button>
                                                </abbr>
                                            </div>
                                        </td>
                                    </tr>
                                <% }); %>
                                <tr>
                                    <th>#</th>
                                    <th></th>
                                    <th>Danh mục ngành nghề</th>
                                    <th>Năm kinh nghiệm</th>
                                    <th>Trình độ chuyên môn</th>
                                    <th>Thông tin chung</th>
                                    <th>Ngày nạp hồ sơ</th>
                                    <th style="width:70px"></th>
                                </tr>
                            </tbody>
                        </table>
                    <%}%>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Đóng</span></button>
                        <img alt="image" id="imgStore" width="18%">
                        <h4 class="modal-title" id="tNameJobCategory"></h4>
                        <small class="font-bold" id="tDateCreateCV"></small>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="fCVUpdate" name="fCVUpdate">
                            <div class="text-center m-t-lg">
                              <div class="form-group">
                                <label class="col-md-3 control-label">Kinh nghiệm <font class="text-info">(Năm)</font>:</label>
                                <div class="col-md-9">
                                  <input id="ipCVExprience" type="text" value="0.5" tabindex="2" name="ipCVExprience" class="form-control" required>
                                </div>
                              </div>
                              <div class="form-group" id="data_1">
                                <label class="col-md-3 control-label">Bằng cấp:</label>
                                <div class="col-md-9">
                                  <input id="ipCVQualifications" type="text" tabindex="3" class="form-control" required>
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-md-3 control-label">Thông tin thêm:</label>
                                <div class="col-md-9">
                                  <textarea id="ipCVGeneralinformation" type="text" tabindex="4" class="form-control" rows="3" required></textarea>
                                </div>
                              </div>
                              <div style="display: none" id="alert" class="alert alert-danger text-center" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                <span class="msg"></span>
                              </div>
                            </div>
                          
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-white" tabindex="6" data-dismiss="modal">Hủy</button>
                        <button type="submit" id="btnSubmitCVUpdate" class="btn btn-primary" type="submit" tabindex="5">Chỉnh sửa hồ sơ</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
          <%- include('../layout_index/index_footer.ejs'); -%>
      </div>
  </div>
  <%- include('../layout_index/index_script.ejs') -%>
    <script src="/javascripts/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="/javascripts/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="/javascripts/plugins/toastr/toastr.min.js"></script>
    <script src="/javascripts/HTTPMethods/ajax/methodsPublic.js"></script>
    <script src="/javascripts/HTTPMethods/cvPublic.js"></script>
</body>
</html>