<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/logo/logoFW60x60.jpg">
  <title>
      <%=tittle%>
  </title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="/stylesheets/animate.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link href="/stylesheets/styleMyEdited.css" rel="stylesheet">
  <!--  -->
  <link href="/stylesheets/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
  <link href="/stylesheets/plugins/sweetalert/sweetalert.css" rel="stylesheet">
</head>

<body>
  <div id="wrapper">
    <%- include('../layout_index/index_sidebar_collapse.ejs'); -%>
      <div id="page-wrapper" class="gray-bg">
        <%- include('../layout_index/index_header.ejs'); -%>
          <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
              <div class="ibox float-e-margins">
                <div class="ibox-title">
                  <h2>Đăng hồ sơ và đợi duyệt</h2>
                </div>
                <div>
                  <div class="ibox-content profile-content col-lg-12">
                    <form class="form-horizontal" id="fCVPost" name="fCVPost" action="/cv/post">
                      <div class="text-center m-t-lg">
                        <div class="form-group">
                          <label class="col-md-2 control-label">Danh mục ngành nghề:</label>
                          <div class="col-md-10">
                            <select class="form-control" id="spCVCategory">
                              <option value="" disabled selected hidden>Chọn một danh mục...</option>
                              <% categories.forEach(function(category){ %>
                                <option value="<%=category.CategoryID%>">
                                  <%=category.NameJobCategory%>
                                </option>
                                <% }); %>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-md-2 control-label">Kinh nghiệm <font class="text-info">(Năm)</font>:</label>
                          <div class="col-md-10">
                            <input id="ipCVExprience" type="text" value="0.5" tabindex="2" name="ipCVExprience" class="form-control" required>
                          </div>
                        </div>
                        <div class="form-group" id="data_1">
                          <label class="col-md-2 control-label">Bằng cấp:</label>
                          <div class="col-md-10">
                            <input id="ipCVQualifications" type="text" tabindex="3" class="form-control" required>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-md-2 control-label">Thông tin thêm:</label>
                          <div class="col-md-10">
                            <textarea id="ipCVGeneralinformation" type="text" tabindex="4" class="form-control" rows="3" required></textarea>
                          </div>
                        </div>
                        <div style="display: none" id="alert" class="alert alert-danger text-center" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                          <span class="msg"></span>
                        </div>
                        <div class="col-lg-12 text-center">
                          <button id="btnCancelPostCV" class="btn btn-secondary" tabindex="6">Hủy</button>
                          <button type="submit" id="btnSubmitPostCV" class="btn btn-primary" type="submit" tabindex="5">Đăng
                            hồ sơ</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%- include('../layout_index/index_footer.ejs'); -%>
      </div>
  </div>
  <%- include('../layout_index/index_script.ejs') -%>
    <script src="/javascripts/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="/javascripts/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="/javascripts/plugins/toastr/toastr.min.js"></script>
    <script src="/javascripts/HTTPMethods/ajax/methodsPublic.js"></script>
    <script src="/javascripts/HTTPMethods/cvPublic.js"></script>
</body>

</html>