<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo/logoFW60x60.jpg">
    <title>
        <%=tittle%>
    </title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/stylesheets/animate.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/styleMyEdited.css" rel="stylesheet">
    <!--  -->
    <link href="/stylesheets/plugins/datapicker/datepicker3.css" rel="stylesheet">
</head>

<body>
    <div id="wrapper">
        <%- include('../layout_index/index_sidebar_collapse.ejs'); -%>
            <div id="page-wrapper" class="gray-bg">
                <%- include('../layout_index/index_header.ejs'); -%>
                    <div class="wrapper wrapper-content animated fadeInRight">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h2>Chi tiết trang cá nhân</h2>
                                        </div>
                                        <div>
                                            <div class="ibox-content profile-content col-lg-12">
                                                <form class="form-horizontal" id="fProfileUpdate" name="fProfileUpdate">
                                                    <div class="text-center m-t-lg">
                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label">Họ và Tên:
                                                                <abbr title="Bắt buộc điền Họ và Tên" class="initialism">
                                                                    <font class="text-danger">(*)</font>
                                                                </abbr>
                                                            </label>
                                                            <div class="col-md-10">
                                                                <input id="iPEditFullname" type="text" tabindex="1" class="form-control" value="<%=myProfile.FullName%>" required autofocus>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label">Giới tính:</label>
                                                            <div class="col-md-10">
                                                                <input id="iPEditIsMale" type="text" tabindex="2" class="form-control" value="<%=myProfile.IsMale%>" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group" id="data_1">
                                                            <label class="col-md-2 control-label">Ngày sinh:</label>
                                                            <div class="col-md-10">
                                                                <div class="input-group date">
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </span>
                                                                    <input id="iPEditBirthday" type="text" tabindex="3" class="form-control" value="<%=myProfile.Birthday%>" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label">Địa chỉ:</label>
                                                            <div class="col-md-10">
                                                                <input id="iPEditPlace" type="text" tabindex="4" class="form-control" value="<%=myProfile.Place%>" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label">Số điện thoại:</label>
                                                            <div class="col-md-10">
                                                                <input id="iPEditPhoneNumber" type="text" tabindex="5" class="form-control" value="<%=myProfile.PhoneNumber%>" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label">Chứng minh nhân dân:</label>
                                                            <div class="col-md-10">
                                                                <input id="iPEditPersonID" type="text" tabindex="6" class="form-control" value="<%=myProfile.PersonID%>" required>
                                                            </div>
                                                        </div>
                                                        <div style="display: none" id="alert" class="alert alert-danger text-center" role="alert">
                                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                            <span class="sr-only">Error:</span>
                                                            <span class="msg"></span>
                                                        </div>
                                                        <div class="col-lg-12 text-center m-t-lg">
                                                            <button id="btnCancelUpdateProfile" class="btn btn-secondary" tabindex="8">Hủy</button>
                                                            <button type="submit" id="btnSubmitEditMemberInformation" class="btn btn-primary" type="submit" tabindex="7">Cập
                                                                nhật thông tin</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%- include('../layout_index/index_footer.ejs'); -%>
            </div>
    </div>
    <%- include('../layout_index/index_script.ejs') -%>
        <script src="/javascripts/plugins/datapicker/bootstrap-datepicker.js"></script>
        <!-- <script src="https://raw.githubusercontent.com/jquery/jquery-ui/master/ui/i18n/datepicker-vi.js"></script> -->
        <script src="/javascripts/plugins/sweetalert/sweetalert.min.js"></script>
        <script src="/javascripts/HTTPMethods/ajax/methodsPublic.js"></script>
        <script src="/javascripts/HTTPMethods/profilePublic.js"></script>
</body>

</html>