<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo/logoFW60x60.jpg">
    <title>
        <%=tittle%>
    </title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/stylesheets/animate.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/styleMyEdited.css" rel="stylesheet">
</head>
    <body>
        <div id="wrapper">
            <%- include('../layout_index/index_sidebar_collapse.ejs'); -%>
                <div id="page-wrapper" class="gray-bg">
                    <%- include('../layout_index/index_header.ejs'); -%>
                        <div class="wrapper wrapper-content animated fadeInRight">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="">
                                            <div class="ibox float-e-margins">
                                                <div class="ibox-title">
                                                    <h2 class="text-center">Chi tiết trang cá nhân</h2>
                                                </div>
                                                <div>
                                                    <div class="ibox-content no-padding border-left-right">
                                                        <img alt="image" width="100%" class="img-responsive" src="<%=myProfile.Image%>">
                                                    </div>
                                                    <div class="ibox-content profile-content">
                                                        <h4 class="text-info"><strong> <%=myProfile.FullName%></strong></h4>
                                                        <h5><i class="fa fa-user-o"></i><i>
                                                            <% if(myProfile.UserTypeID==1 ){%>
                                                                admin
                                                            <%}else{%>
                                                                Người làm
                                                                <%}%>
                                                        </i></h5>
                                                        <h5><i class="fa fa-envelope"></i> <%=myProfile.Email%></h5>
                                                        <h5><i class="fa fa-phone"></i> <%=myProfile.PhoneNumber%></h5>
                                                        <p><i class="fa fa-map-marker"></i> <%=myProfile.Place%></p>
                                                        <p><i class="fa fa-birthday-cake"> Ngày sinh:</i> <%=myProfile.Birthday%></p>
                                                        <h5><i class="fa fa-calendar"></i> Ngày tham gia vào hệ thống: <b><%=myProfile.CreateDate%></b></h5>
                                                        <p><i class="fa fa-check"></i> Điểm đánh giá: <b><%=myProfile.PointsAverage%></b></p>
                                                        <div class="user-button">
                                                            <div class="row">
                                                                
                                                                <%if(userAccount.UserAccountID==myProfile.UserAccountID){%>
                                                                <div class="col-lg-12">
                                                                    <a href="/trang-ca-nhan/chinh-sua">
                                                                    <button type="button" class="btn btn-default btn-sm btn-block"><i
                                                                        class="fa fa-edit"></i> Sửa thông tin</button>
                                                                    </a>
                                                                </div>
                                                                <%}else{%>
                                                                    <div class="col-lg-12">
                                                                        <button type="button" class="btn btn-primary btn-sm btn-block"><i
                                                                            class="fa fa-comments-o"></i> Gởi tin nhắn</button>
                                                                    </div>
                                                                <%}%>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="ibox-title">
                                                <h2 class="text-center">Danh sách hồ sơ</h2>
                                            </div>
                                        <div class="ibox-content forum-container">
                                            <%if(!myCV.success){%>
                                                <h3 class="text-center"><%=myCV.message%></h3>
                                            <%}else{ let stt=0;%>
                                                <% myCV.result.forEach(function(cv){ stt++%>
                                                    <div class="forum-item">
                                                            <div class="row">
                                                                <div class="col-md-10">
                                                                    <div class="forum-icon text-primary">
                                                                        <h1><%=stt%></h1>
                                                                    </div>
                                                                    <h3 class="forum-item-title text-info"><%=cv.NameJobCategory%></h3>
                                                                    <div class="forum-sub-title">
                                                                        <b>Trình độ chuyên môn:</b> <%=cv.Qualifications%>.<br>
                                                                        <b>Thông tin chung:</b> <%=cv.GeneralInformation%>.<br>
                                                                        <i>Ngày tạo tài khoản: <%=cv.DateCreateAccount%> - Ngày nạp hồ sơ: <%=cv.DateCreateCV%>.</i>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2 forum-info">
                                                                    <span class="views-number">
                                                                        <%=cv.Exprience%>
                                                                    </span>
                                                                    <div>
                                                                        <small>Năm kinh ngiệm</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                <% }); %>
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include('../layout_index/index_footer.ejs'); -%>
                </div>
        </div>
        <%- include('../layout_index/index_script.ejs') -%>
    </body>

    </html>