<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/javascripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<script src="/javascripts/inspinia.js"></script>
<script src="/javascripts/plugins/pace/pace.min.js"></script>