<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page
        <%=message%>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/stylesheets/animate.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <style>
        .middle-box h1{font-size: 50px}
    </style>
</head>

<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h1><%=error.status%></h1>
        <h1 class="font-bold"><%=message%></h1>
        <div class="error-desc">
            <br/> Bạn có thể quay lại trang chủ tại:
            <br/>
            <a href="/" class="btn btn-primary m-t">Trang chủ</a>
        </div>
    </div>
</body>

</html>