<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/logo/logoFW60x60.jpg">
  <title>
      <%=tittle%>
  </title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="/stylesheets/animate.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link href="/stylesheets/styleMyEdited.css" rel="stylesheet">
</head>

<body>
  <div id="wrapper">
    <%- include('./layout_index/index_sidebar_collapse.ejs'); -%>
      <div id="page-wrapper" class="gray-bg">
        <%- include('./layout_index/index_header.ejs'); -%>
          <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
              <div class="col-md-12">
                <div class="ibox-content">
                  <div class="text-center m-t-lg">
                    <h1>
                      Chào mừng bạn đến với Hệ thống hỗ trợ tìm việc trang Thợ.
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%- include('./layout_index/index_footer.ejs'); -%>
      </div>
  </div>
  <%- include('./layout_index/index_script.ejs') -%>
</body>

</html>