<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" width="48px" src="<%=userAccount.Image%>">
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">
                                    <%=userAccount.FullName%>
                                </strong>
                            </span>
                            <span class="text-muted text-xs block">
                                <%if(userAccount.UserTypeID == 1){ %>
                                    Admin
                                    <% } else{ %>
                                        Thợ
                                        <%}%>
                                            <b class="caret"></b>
                            </span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="/trang-ca-nhan/<%=userAccount.UserAccountID%>">Trang cá nhân</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout">Đăng Xuất</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    FW
                </div>
            </li>
            <li <% if(slideBarSTT==1 ){ %>
                class="active"
                <% } %>>
                    <a href="/">
                        <i class="fa fa-th-large"></i>
                        <span class="nav-label"> Trang chủ</span>
                    </a>
            </li>
            <li <% if(slideBarSTT > 1 && slideBarSTT < 3){ %>
                class="active"
                <% } %>>
                <a href="#">
                    <i class="fa fa-address-card"></i>
                    <span class="nav-label"> Hồ sơ</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse <% if(slideBarSTT > 1 && slideBarSTT < 3){%> in <%}%>">
                    <li <% if(slideBarSTT == 2){ %> class="active" <% } %>>
                        <a href="/admin/cv/danh-sach-tho-doi-duyet"><i class="fa fa-list-alt"></i> Duyệt hồ sơ</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>